* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.03), transparent 60%), linear-gradient(145deg, #050608, #0b0f14);
  height: 100vh;
}
.title {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  color: antiquewhite;
}

.chrono-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
  width: 300px;
  border: 12px solid rgba(37, 49, 38, 0.3);
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(20, 203, 81, 0.4), 0 0 20px rgba(9, 195, 71, 0.4), 0 0 40px rgba(27, 7, 101, 0.7);
  margin: 40px;
}
.container-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(109, 97, 186);
}
.container-span label {
  color: rgb(80, 155, 105);
  font-size: 16px;
}
.container-span span {
  font-size: 50px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.reset {
  background-color: green;
}
.main {
  background-color: rgb(109, 97, 186);
}
.btn {
  color: antiquewhite;
  font-size: 18px;
  border: none;
  border-radius: 4px 13px 43px 25px;
  padding: 20px 40px;
  outline: none;
  cursor: pointer;
}
